<%- include("../templates/header") %>

    <div class=title>
        <h1 style="text-align: center; color: azure;"><b>AVALANCHE SURVIVAL GUIDE</b></h1>
    </div>

    <div class=header>
        <h2>What is an Avalanche</h2>
    </div>

    <div class=content>
        <p>An avalanche is a sudden and massive flow of snow, ice,
            and debris down a mountainside, triggered by various
            disturbances such as heavy snowfall, rapid temperature changes, or human activity.
            These snow masses can travel at incredible speeds, sweeping through entire valleys and causing
            extensive destruction in their path. The average speed of an avalanche is around 80 mph.
            The deadliest avalanche occurred in 1970 in Peru, where it claimed thousands of lives.
            The term "avalanche" comes from the French word "avalanche," which means "descent" or "fall."</p>
    </div>

    <img src="/img/a.png" alt="Avalanche" width="500px" class="center">
    <audio id="avalanche-audio" src="/audio/avalanche.mp3"></audio>
    

    <br>

    <div class=header>
        <h2>Causes</h2>
    </div>

    <div class="content">
        <ul>
            <li><b>Heavy Snowfall</b></li>
            <p>Rapid accumulation of snow adds weight to the snowpack, increasing the stress on underlying layers,
                which can lead to a sudden release of snow, causing an avalanche.</p>
            <li><b>Temperature Fluctuations</b></li>
            <p>Alternating periods of freezing and thawing can weaken the bonds between snow layers. When the
                temperature rises, the snowpack can become unstable, leading to avalanches.</p>
            <li><b>Human Activity</b></li>
            <p>Activities such as skiing, snowboarding, and snowmobiling can disturb the snowpack. The added stress
                and vibrations can trigger an avalanche, especially in already unstable conditions.</p>
        </ul>
    </div>

    <div class=header>
        <h2>What to do in the event</h2>
    </div>

    <div class=content>
        <p><b>Immediate Action: </b>If you see or hear signs of an avalanche, such as a rumbling
            sound or sudden movement of snow, get off the slope immediately if you can. Try to
            move to the side of the avalanche path or find a shelter behind large objects like trees or rocks. </p>

        <p><b>Seek Shelter: </b> If you cannot escape the avalanche, try to create an air pocket around your
            face with your hands to help you breathe. Attempt to stay on top of the snow by making swimming motions.
        </p>

        <p> <b>Areas to avoid: </b> Avoid traveling in areas with steep slopes, especially after heavy snowfall or
            during periods of rapid temperature changes. Steer clear of known avalanche paths and stay away
            from open slopes without trees. </p>

        <p><b>After the Avalanche:</b> Once the avalanche has stopped, try to stay calm and signal for help if you
            are
            trapped. If you are safe, do not return to the avalanche area, as secondary avalanches may occur. Wait
            for rescue teams to arrive and follow their instructions. Continue to listen to emergency broadcasts
            for updates and safety information.</p>
    </div>

    <button class="fancy-button">Predict the Damage</button>
    <br>
    <div>
        <!--This will be the section where the chat gpt info gets put into.-->
    </div>

    <!--Section for footer-->
<%- include("../templates/footer") %>

<script src="/js/avalancheEffect.js"></script>