<%- include('../templates/header.ejs') %>
    <div class="title">
        <h1 style="text-align: center; color: white;"><b>EARTHQUAKE SURVIVAL GUIDE</b></h1>
    </div>

    <div class="header">
        <h2>What is an Earthquake</h2>
    </div>

    <div class="content">
        <p>An earthquake is a sudden and violent shaking of the ground caused by the movement of tectonic plates beneath
            the Earth's surface. This movement releases energy in the form of seismic waves, which radiate outward from
            the point of origin, called the hypocenter or focus. The intensity of an earthquake can vary widely, ranging
            from barely perceptible tremors to catastrophic events that cause extensive damage and loss of life.
            Earthquakes can occur along fault lines, where tectonic plates meet, or can be triggered by volcanic
            activity or human-induced actions.</p>
        <p>Earthquakes are natural phenomena that have shaped the Earth's landscape over millions of years.
            Understanding their causes and effects is crucial for preparedness and response.</p>
    </div>

    <img id="myImage" src="/img/earthquake.jpg" alt="Earthquake" width="500px" class="center">
    <audio id="myAudio" src="/audio/earthquake.mp3"></audio>

    <br>

    <div class="header">
        <h2>Causes</h2>
    </div>

    <div class="content">
        <ul>
            <li><b>Movement of Tectonic Plates</b></li>
            <p>Earthquakes result from the shifting and grinding of Earth's tectonic plates, releasing stored energy.
                This movement can occur gradually over time or suddenly, resulting in seismic events of varying
                magnitudes.</p>
            <li><b>Volcanic Eruptions</b></li>
            <p>Magma movement during volcanic activity can fracture rocks, generating seismic waves and causing
                earthquakes. These volcanic earthquakes can accompany eruptions or occur independently as a result of
                the volcanic process.</p>
            <li><b>Underground Explosions</b></li>
            <p>Human activities like mining or explosions can induce seismic events by creating vibrations that
                propagate through the Earth. These induced earthquakes are often localized but can still pose risks to
                nearby communities and infrastructure.</p>
            <li><b>Induced Quaking</b></li>
            <p>Human actions like fracking or injecting fluids underground can alter crustal stress, potentially causing
                earthquakes. The injection of wastewater from industrial processes can lubricate faults, increasing the
                likelihood of seismic activity in areas not traditionally prone to earthquakes.</p>
        </ul>
    </div>

    <div class="header">
        <h2>What to do in the event</h2>
    </div>

    <div class="content">
        <p><b>Drop, Cover, and Hold On:</b> If you're indoors, drop to the ground, take cover under a sturdy piece of
            furniture or against an interior wall, and hold on until the shaking stops. If you're outside, move to an
            open area away from buildings, trees, streetlights, and utility wires, and drop to the ground. Protecting
            yourself from falling debris is crucial during an earthquake.</p>
        <p><b>Stay Indoors Until Shaking Stops:</b> Even after the shaking stops, remain indoors until it is safe to
            exit. Aftershocks can occur minutes, hours, or even days after the initial quake. Assess your surroundings
            for hazards such as damaged structures or gas leaks before venturing outside.</p>
        <p><b>Be Prepared:</b> Keep an emergency kit with essential supplies such as water, food, a first-aid kit,
            flashlight, and batteries in an easily accessible location. Regularly check and update your emergency
            supplies to ensure they remain adequate for your needs.</p>
        <p><b>Listen to Authorities:</b> Follow instructions from local authorities and emergency services. They will
            provide information on any necessary evacuations or safety measures. Stay informed through official channels
            such as radio broadcasts, emergency alerts, and social media updates.</p>
    </div>

    <div class="content">
        <h2>Resources</h2>
        <ul>
            <li><a
                    href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/preparedbc/know-the-risks/earthquakes">PreparedBC
                    - Earthquake Preparedness</a></li>
            <li><a href="https://shakeoutbc.ca/">ShakeOut BC - Earthquake Drills</a></li>
        </ul>
    </div>

    <button class="fancy-button">Predict the Damage</button>

    <br>
    <script src="/js/earthquake.js"></script>
<%- include('../templates/footer.ejs') %>