<%- include("../templates/header") %>
    <div class=title>
        <h1 class = cool-title style="text-align: center;"><b>FLOOD SURVIVAL GUIDE</b></h1>
    </div>

    <div class=header>
        <h2>What is a Flood</h2>
    </div>

    <div class=content>
        <p>Floods are natural disasters that occur when an area becomes submerged
            in water that overwhelms its natural drainage systems. They can be caused
            by various factors, including heavy rainfall, snowmelt, storm surges, or the breaching
            of dams or levees.</p>
    </div>

    <img id="myHero" src="/img/flood.webp" alt="Flood Hero" width="500px" class=center>
    <audio id="myAudio" src="/audio/flood.mp3"></audio>

    <div id="floodEffect"></div>

    <br>

    <div class=header>
        <h2>Causes</h2>
    </div>

    <div class="content">
        <ul>
            <li>
                <b>Dam Failure</b>
            </li>
            <p>Flooding can result from dam or hydraulic structure failures, often due to human error.</p>
            <li>
                <b>Heavy Rainfall</b>
            </li>
            <p>One of the most common natural causes of floods is heavy rainfall, especially if it occurs
                over a short period of time or in an area with poor drainage.</p>
            <li>
                <b>River Overflow</b>
            </li>
            <p>Rivers can overflow their banks due to heavy rainfall, snowmelt,
                or a combination of both. When the volume of water flowing into a
                river exceeds its capacity, it spills over onto adjacent land.</p>
        </ul>
    </div>

    <div class=header>
        <h2>How to prepare for a flood</h2>
    </div>

    <div class=content>
        <dl>
            <dt>Before a Flood</dt>
            <dd>Prepare an emergency kit and make a household emergency plan.</dd>
            <dd>Understand the flood risks specific to your area and consider purchasing flood insurance.</dd>
            <dd>Stay informed about weather conditions and advisories.</dd>
            <dd>Prepare your home by storing important documents at a higher level,
                purchasing sandbags, and knowing how to turn off utilities.</dd>
            <dd>Grade the soil around your home, maintain gutters and downspouts,
                and consider installing flood prevention measures like sump pumps and backflow valves.</dd>
            <dd>Prepare your vehicle by ensuring it has enough fuel and keeping an emergency kit inside.</dd>
            <dt>During a Flood</dt>
            <dd>Move away from floodwater and avoid crossing flooded areas.</dd>
            <dd>Stay tuned to information from local officials and follow specified routes.</dd>
            <dd>Avoid using gas-powered appliances indoors during power outages to prevent carbon
                monoxide poisoning.</dd>
            <dd>Set up sandbags around your home if floodwaters approach, and disconnect eavestroughs
                connected to municipal sewer systems.</dd>
            <dt>After a Flood</dt>
            <dd>Use extreme caution when returning home and restore your home to good order as soon as possible.</dd>
            <dd>Do not turn on utilities until deemed safe by a qualified professional.</dd>
            <dd>Dispose of contaminated items, protect against foodborne illness,
                and follow procedures for safely cleaning flood-damaged areas.</dd>
        </dl>
    </div>

    <button class="fancy-button" id="predictDamageButton" value="flood">Predict the Damage</button>
    <br>
    
    <script src="/js/flood.js"></script>
<%- include("../templates/footer") %>
