<%- include("../templates/header") %>
    <div class=title>
        <h1 style="text-align: center;"><b class = "cool-title">TSUNAMI SURVIVAL GUIDE</b></h1>
    </div>
    <div class=header>
        <h2>What is a Tsunami</h2>
    </div>

    <div class=content>
        <p>A tsunami is a series of enormous waves caused by large-scale disturbances
            in or near oceans, such as earthquakes, volcanic eruptions, underwater
            landslides, or meteorite impacts. These waves can travel across entire
            ocean basins at high speeds, causing widespread damage when they reach
            coastal areas. The average height of a tsunami is 100ft above sea level. The tallest tsunami occured in 1958
            in Alaska, where it reached an initial height of 1700ft. The term "tsunami" originates from Japanese, with
            "tsu" meaning "harbor" and "nami" meaning "wave."</p>
    </div>

    <img id = "myImage" src="/img/tsunami.png" alt="Tsunami" width="500px" class="center">
    <audio id="myAudio" src="/audio/tsunami.mp3"></audio>
    

    <br>

    <div class=header>
        <h2>Causes</h2>
    </div>

    <div class="content">
        <ul>
            <li><b>Seismic Activity</b></li>
            <p>The most common cause of tsunamis is undersea earthquakes, often resulting from tectonic plate movements.
                When an earthquake occurs, it can displace large volumes of water, creating waves that spread out in all
                directions.This occurs when the tectonic plates shift, which causes a great amount of water to be
                shifted and lead to a tsunami.</p>
            <li><b>Volcanic Eruptions</b></li>
            <p>Eruption near the ocean can displace a great amount of water, leading to a tsunami</p>
            <li><b>Meteor</b></li>
            <p>Although rarer than the other causes, a metor can lead to a tsunami. When a meteor of a great size falls
                into the ocean, lots of water becomes displaced. These waves continue to grow until they reach the
                mainland.</p>
        </ul>
    </div>

    <div class=header>
        <h2>What to do in the event</h2>
    </div>

    <div class=content>
        <p><b>Immediate Action: </b>If you feel a large earthquake and are near the coastline,
            dont wait for an official warning. If you are in a boat on the ocean,
            move to deeper water if possible. Tsunamis are less dangerous in deep ocean,
            where their energy spreads over a larger area, reducing the height and force of the waves.</p>

        <p><b>Seek High Ground: </b> The higher you can get, the better. If you're in a building
            and can't evacuate to higher ground, go to the highest floor. Avoid basements or
            lower-level areas that could flood.</p>

        <p> <b>Areas to avoid: </b> Avoid coastal areas if possible. Tsunamis can come
            in multiple waves, so even after the first wave stay away.
            Also stay away from inland bodies of water connected to the ocean,
            as they can travel through these. </p>

        <p><b>After the Tsunami:</b> After the Tsunami hits, don't return to
            evacuated locations until authorities confirm it's safe. Further waves
            or aftershocks can cause additional tsunamis. Be cautious of downed power
            lines, unstable structures, or other hazards. Continue to listen to emergency
            broadcasts for updates and safety info</p>
    </div>

    <div class=header>
        <h2>Resources</h2>
    </div>

    
    <div class = content>

        Canadian Red Cross
        <p><a href="https://www.redcross.ca/how-we-help/emergencies-and-disasters-in-canada/types-of-emergencies/tsunamis-1">https://www.redcross.ca/how-we-help/emergencies-and-disasters-in-canada/types-of-emergencies/tsunamis-1</a>
        </p>
    </div>

    <button class="fancy-button">Predict the Damage</button>

    <br>

    <script src="/js/tsunami.js"></script>
<%- include("../templates/footer") %>