/* CSS for Tsunami Themed Page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2b3a67, #6aaedf); /* ocean-like gradient */
}

.header {
    background: linear-gradient(to right, #00416A, #E4E5E6); /* smooth horizontal gradient */
    color: white;
    text-align: center;
    padding: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* creating depth */
}

.content {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff; /* dark gray text for contrast */
}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
}

p {
    margin: 0px;
    background-color: rgb(30, 30, 61);
    border-width: 2px;
    border-style: solid;
    border-color: #E4E5E6;
    color: white;
    
}

