<%- include("templates/header") %>
    <div class="header">
        <h1>List Of Disasters</h1>
    </div>

    <!-- Here are the links to all of the disaster pages. Fill in with links and images as we go-->
    <div class="grid-container">
        <a href="/disasterList/earthquake" class="grid-item">
            <img src="/img/earthquake.jpg" alt="Image 1">

        </a>
        <a href="/disasterList/tsunami" class="grid-item">
            <img src="/img/tsunami.png" alt="Image 2">
        </a>
        <a href="/disasterList/wildfire" class="grid-item">
            <img src="/img/wildfire.jpg" alt="Image 3">
        </a>
        <a href="/disasterList/tornado" class="grid-item">
            <img width="800px" src="/img/tornado.jpg" alt="Image 4">
        </a>
        <a href="/disasterList/flood" class="grid-item">
            <img src="/img/fl.png" alt="Image 5">
        </a>
        <a href="/disasterList/avalanche" class="grid-item">
            <img src="/img/a.png" alt="Image 6">
        </a>
        <a href="/disasterList/storm" class="grid-item">
            <img src="/img/storm.png" alt="Image 7">
        </a>
    </div>
<%- include("templates/footer")%>