<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/disasterList.css">
    <title>DisasterNOT</title>
</head>

<body class = "body">

    <%- include("templates/header") %>
    <div class = "header">
        <h1>List Of Disasters</h1>

    </div>

    <!-- Here are the links to all of the disaster pages. Fill in with links and images as we go-->
    <div class="grid-container">
        <a href="/earthquake" class="grid-item">
            <img src="../img/earthquake.png" alt="Image 1">
            
        </a>
        <a href="/tsunami" class="grid-item">
            <img src="../img/tsunami.png" alt="Image 2">
        </a>
        <a href="/wildfire" class="grid-item">
            <img src="../img/wildfire.jpg" alt="Image 3">
        </a>
        <a href="/tornado" class="grid-item">
            <img src="../img/storm.png" alt="Image 4">
        </a>
        <a href="/flood" class="grid-item">
            <img src="../img/fl.png" alt="Image 5">
        </a>
        <a href="/avalanche" class="grid-item">
            <img src="../img/a.png" alt="Image 6">
        </a>

     
    </div>
<%- include("templates/footer")%>
