<%- include("./templates/header") %>
    Enter your email so we can verify it's you
    <form action="forgotPasswordSubmit" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <% if (error) { %>
            <%= error %><br>
                <% } %>
                    <button type="submit">Submit</button>
    </form>
<%- include("./templates/footer") %>