<%- include("./templates/header") %>
    <form action="forgotPasswordSubmit" method="post">
        <p>Enter your email so we can verify it's you:</p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <% if (error) { %>
            <p class="error"><%-error%></p>
            <% } %>
                <button type="submit">Submit</button>
    </form>
<%- include("./templates/footer") %>