<%- include("templates/header") %>
    <div class="header">
        Disasters
    </div>

    <div class="disasterContent">
        <a href="/disasterList">
            <br>
            <img class="center" alt="Tsunami" width="500px" src="img/tsunami.png" alt="Description of the image">
        </a>
        <br>
    </div>

    <div>
        <div class="header">
            Checklist
        </div>

        <div class="disasterContent">
            <a href="/checklist">
                <br>
                <img class="center" alt="Tsunami" width="500px" src="img/checklist.png" alt="Description of the image">
            </a>
            <br>
        </div>
    </div>
<%- include("templates/footer") %>