<%- include("templates/header") %>
    <div class="bg-dark text-secondary px-4 py-5 text-center hero">
        <div class="py-5">
            <img class="d-block mx-auto mb-4 icon" src="/img/icon.png" alt="Logo">
            <h1 class="display-5 fw-bold text-white">DisasterNOT</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">DisasterNOT is an app that is meant to help educate users about natural disasters, their effects and what to do during them.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/signup" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Sign Up</a>
                    <a href="/login" class="btn btn-outline-light btn-lg px-4">Log In</a>
                </div>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>