<%- include("templates/header") %>
    <div id="chat-window">
        <div class="main-title">Smart AI</div>
        <div id="chat-messages"></div>
        <form id="chat-form">
            <input type="text" id="chat-input" autocomplete="off" placeholder="Type your message here..." required>
            <button type="submit">Send</button>
        </form>
    </div>
    <script>
        const openAIKey = '<%= locals.open_ai_key %>';
        // console.log("API Key:", openAIKey);
    </script>
    <script src="js/smartAI.js"></script>
<%- include("templates/footer") %>
