<%- include("templates/header") %>

<div class = title>
    <h1 style = "text-align: center;"><b>WILDFIRE SURVIVAL GUIDE</b></h1>
</div>
<div class = header>


    <h2>What is a wildfire</h2>
</div>

<div class = content>


    <p>A wildfire is an uncontrolled fire that burns in the wildland vegetation, often in rural areas. Wildfires can burn in forests, grasslands, savannas, and other ecosystems, and have been doing so for hundreds of millions of years. They are not limited to a particular continent or environment.</p>
</div>
<img src = "/img/wildfire.jpg" alt = "Wildfire" width="500px" class = "center">
<br>
<div class = header>
    <h2>Causes</h2>
</div>
<dl>
    <dt>Natural Causes</dt>
    <dd>
        <ul>
            <li>Lightning: Lightning strikes are a common natural cause of wildfires, particularly in dry and forested areas. When lightning strikes vegetation, it can ignite fires.</li>
            <li>Volcanic eruptions: Volcanic activity can also spark wildfires by releasing hot lava, ash, and other materials that can ignite vegetation.</li>
        </ul>
    </dd>
    <dt>Human Causes</dt>
    <dd>
        <ul>
            <li>Campfires: Improperly extinguished campfires or those left unattended can easily spread and ignite surrounding vegetation.</li>
            <li>Burning debris: Burning of debris such as leaves, branches, or trash can lead to wildfires if not properly managed.</li>
            <li>Equipment use: Operating equipment or machinery that generates sparks, such as chainsaws or power lines, in dry conditions can start wildfires.</li>
            <li>Arson: Deliberately set fires by individuals, whether for malicious intent or other reasons, are a significant cause of wildfires.</li>
        </ul>
    </dd>
    <dt>Weather Conditions</dt>
    <dd>
        <ul>
            <li>Drought: Extended periods of dry weather create conditions ripe for wildfires, as vegetation becomes more susceptible to ignition.</li>
            <li>High temperatures: Hot weather increases the likelihood of wildfires, especially when combined with low humidity.</li>
            <li>Wind: Strong winds can quickly spread wildfires by carrying embers and flames over long distances.</li>
        </ul>
    </dd>
    <dt>Vegetation Characteristics</dt>
    <dd>
        <ul>
            <li>Overgrown vegetation: Overgrown forests or grasslands provide ample fuel for wildfires to spread rapidly.</li>
            <li>Invasive species: Invasive plant species can increase the risk of wildfires by altering ecosystems and creating more flammable conditions.</li>
            <li>Dead vegetation: Dead or dry vegetation serves as highly flammable fuel for wildfires.</li>
        </ul>
    </dd>
</dl>

<div class = header>
    <h2>What to do to prepare</h2>
</div>
<dl>
    <dt>Before</dt>
    <dd>
        <ul>
            <li>The key to staying safe is to prepare and to have an emergency plan in place.</li>
            <li>Tune in to the radio or local news channels, and/or follow your local news outlet and emergency officials on social media for possible wildfire alerts.</li>
            <li>Make sure your home insurance covers for damage due to fire.</li>
            <li>Talk with your family and neighbours about what you would do during a wildfire. Identify a safe place to gather.</li>
        </ul>
    </dd>
    <dt>During</dt>
    <dd>
        <ul>
            <li>Be prepared to evacuate at any time. If told to evacuate, do so.</li>
            <li>Monitor local radio stations for up-to-date information on the fire and possible road closures.</li>
            <li>Park your car, positioned forward out of the driveway. Keep car windows closed and have your valuables ready to be packed in your car should you need to evacuate.</li>
            <li>If you do not evacuate, close all windows and doors in the house to reduce smoke and debris entering your home. Follow instructions on how to minimize fire.</li>
            <li>Move all combustibles away from the house, including firewood and lawn furniture. Move any propane barbeques into the open, away from structures.</li>
        </ul>
    </dd>
    <dt>After</dt>
    <dd>
        <ul>
            <li>Continue to take precautions and listen to and follow directions from local authorities.</li>
            <li>Only re-enter your home if you are authorized by officials to do so.</li>
            <li>Contact your local government office for help in finding temporary housing if you cannot stay in your home due to fire damage.</li>
            <li>Check with local authorities to see if you are eligible for disaster financial assistance.</li>
            <li>Use caution when entering burned areas because there may still be hazards, including hot spots, which can flare up without warning.</li>
            <li>Ensure your food and water is safe. Discard any food that may have been exposed to heat, smoke or soot and do not use water that may be contaminated.;</li>
            <li>Take an inventory and photos of ruined furniture, appliances, books, etc. for insurance purposes and keep all receipts related to living expenses, repairs, etc.</li>
            <li>Contact your insurance company, if necessary.</li>
            <li>Wear protective gear, including boots, safety glasses and rubber gloves when cleaning up.</li>
            <li>Household items often take several cleanings to be rid of smoke odours, soot and stains.</li>
        </ul>
    </dd>
</dl>
<div class = header>
    <h2>Helpful Resources</h2>
</div>
<dl>
    <dt>National Geographic</dt>
    <dd><a href="https://education.nationalgeographic.org/resource/wildfires/">https://education.nationalgeographic.org/resource/wildfires/</a></dd>
    <dt>Red Cross Canada</dt>
    <dd><a href="https://www.redcross.ca/how-we-help/emergencies-and-disasters-in-canada/types-of-emergencies/wildfires">https://www.redcross.ca/how-we-help/emergencies-and-disasters-in-canada/types-of-emergencies/wildfires</a></dd>
    <dt>Canadian Wildland Fire Information System (fire management information system that monitors fire danger conditions across Canada)</dt>
    <dd><a href="https://cwfis.cfs.nrcan.gc.ca/home">https://cwfis.cfs.nrcan.gc.ca/home</a></dd>
</dl>

<button class = "fancy-button">Predict the Damage</button>

<%- include("templates/footer") %>