/* CSS for Checklist Page */
body {
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

.content {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Basic paragraph stylings*/
p {
    background-color: rgb(65, 87, 148);
    margin-left: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: #E4E5E6;
    color: white;

}

.content>p {
    background-color: rgb(34, 34, 95);
    border-width: 2px;
    border-style: solid;
    border-color: #E4E5E6;
    color: white;

}

label {
    font-weight: bolder;
    color: black;
}

.header {
    background: linear-gradient(to right, #00416A, #051321);
    /* smooth horizontal gradient */
    color: white;
    text-align: center;
    padding: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /* creating depth */
}

@media (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    .content {
        padding: 10px;
    }
}