/* CSS for SignUp Page */


/* Form styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #211a68;
    border-radius: 3px;
    background-color: #fff; /* Set the input background color to white */
    color: #333; /* Set the input text color to black */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #211a68;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    color: #4a99b8;
}

button:hover {
    background-color: #555;
}

.error {
    color: red;
}