body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

#chat-window {
    width: 500px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

#chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    height: calc(100vh - 200px);
    overflow: auto;
}

#chat-form {
    display: flex;
    align-items: center;
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f7efe5;
    color: lightblue;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.user-message {
    font-family: Arial, sans-serif;
    font-style: italic;
    display: flex;
    background-color: #f7efe5;
    text-align: left;
    align-items: center;
    padding: 15px;
}

.bot-message {
    font-family: Arial, sans-serif;
    font-style: italic;
    display: flex;
    background-color: #fffbf5;
    text-align: justify;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.user-message img, .bot-message img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.main-title {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #fffbf5;
    font-style: italic;
}

@media (max-width: 430px) {

    body {
        overflow: hidden;
    }

    #chat-window {
        width: 90%;
        margin: 0 auto;
        padding: 15px;
        border-radius: 15px;
        margin-top: 20px;
    }

    #chat-messages {
        padding: 5px;
        margin-bottom: 10px;
        height: calc(100vh - 300px);
    }

    #chat-form {
        /* flex-direction: column; */
        /* align-items: stretch; */
        height: 100%;
    }

    #chat-input {
        margin-right: 1;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    button[type="submit"] {
        padding: 10px;
        border-radius: 6px;
        font-size: 1rem;
        margin: 0;
        margin-bottom: 10px;
    }

    .user-message, .bot-message {
        font-size: 0.9rem;
        padding: 10px;
    }

    .user-message img, .bot-message img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .main-title {
        font-size: 3.5 rem;
        margin-bottom: 0.3 rem;
    }
}
