/* CSS for All Universal Pages */
nav {
    padding-bottom: 10px;
    background-color: #333333;
}

body {
    background: linear-gradient(to bottom, lightblue, white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text {
    color: white;
}

.material-symbols-outlined {
    font-size: 50px;
}

@media (min-width: 800px) {
    .sticky-bottom {
        display: none;
    }
}

@media (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    .sticky-footer {
        flex-shrink: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    #page-content {
        flex: 1 0 auto;
    }
}