<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4"> <b style="color: white"> DisasterNot</b> </span>
        </a>

        <!-- Navbar Links -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="/smartAI" class="nav-link">Smart AI</a>
            </li>
            <li class="nav-item">
                <a href="/disasterList" class="nav-link">Disasters</a>
            </li>
            <li class="nav-item">
                <a href="/checklist" class="nav-link">Checklist</a>
            </li>
            <li class="nav-item"><a href="/contacts" class="nav-link">Contacts</a></li>
        </ul>
    </header>
</div>